apiVersion: v1
kind: ConfigMap
metadata:
  name: pulumi-cmp-plugin
  namespace: argocd
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: pulumi-python
    spec:
      version: v1.0
      init:
        command: ["/bin/sh", "-c"]
        args: ["pulumi-init"]
      generate:
        command: ["/bin/sh", "-c"]
        args: ["pulumi-generate"]
      discover:
        fileName: "Pulumi.yaml"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kustomized-helm-cmp-plugin
  namespace: argocd
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: kustomized-helm
    spec:
      version: v1.0
      init:
        command: ["/bin/sh", "-c"]
        args: ["helm dependency build"]
      generate:
        command: ["/bin/sh", "-c"]
        args: ["helm template . --name-template $ARGOCD_APP_NAME --namespace $ARGOCD_APP_NAMESPACE --include-crds > all.yaml && kustomize build"]
      discover:
        fileName: "kustomization.yaml"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kustomized-git-helm-plugin
  namespace: argocd
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: kustomized-git-helm
    spec:
      version: v1.0
      init:
        command: ["/bin/sh", "-c"]
        args:
          - |
            # Parse git-chart.yaml for repo, ref, and path
            REPO=$(grep 'repo:' git-chart.yaml | awk '{print $2}')
            REF=$(grep 'ref:' git-chart.yaml | awk '{print $2}')
            PATH=$(grep 'path:' git-chart.yaml | awk '{print $2}')
            
            # Clone to a temporary directory inside the app source
            rm -rf .chart-cache
            git clone --depth 1 --branch $REF $REPO .chart-cache
      generate:
        command: ["/bin/sh", "-c"]
        args:
          - |
            PATH=$(grep 'path:' git-chart.yaml | awk '{print $2}')
            
            # Handle Extra Helm Values
            HELM_ARGS=""
            if [ -n "$HELM_VALUES" ]; then
              echo "$HELM_VALUES" > extra-values.yaml
              HELM_ARGS="-f extra-values.yaml"
            fi
            
            # Run helm template against the cloned chart
            helm template .chart-cache/$PATH --name-template $ARGOCD_APP_NAME --namespace $ARGOCD_APP_NAMESPACE --include-crds --values values.yaml $HELM_ARGS > all.yaml
            
            # Handle Extra Kustomize Patch
            if [ -n "$KUSTOMIZE_PATCH" ]; then
               echo "$KUSTOMIZE_PATCH" > extra-patch.yaml
               kustomize edit add patch --path extra-patch.yaml
            fi
            
            kustomize build
      discover:
        fileName: "git-chart.yaml"
