apiVersion: v1
kind: ConfigMap
metadata:
  name: pulumi-cmp-plugin
  namespace: argocd
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: pulumi-python
    spec:
      version: v1.0
      init:
        command: ["/bin/sh", "-c"]
        args: ["pulumi-init"]
      generate:
        command: ["/bin/sh", "-c"]
        args: ["pulumi-generate"]
      discover:
        fileName: "Pulumi.yaml"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kustomized-helm-cmp-plugin
  namespace: argocd
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: kustomized-helm
    spec:
      version: v1.0
      init:
        command: ["/bin/sh", "-c"]
        args: ["helm dependency build"]
      generate:
        command: ["/bin/sh", "-c"]
        args: ["helm template . --name-template $ARGOCD_APP_NAME --namespace $ARGOCD_APP_NAMESPACE --include-crds > all.yaml && kustomize build"]
      discover:
        fileName: "kustomization.yaml"
