apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# 1. "Pick" apps from BOTH catalogs.
resources:
  # --- Bootstrap Apps ---
  - ../../bootstrap/mc/kube-vip
  - ../../bootstrap/base/local-path-provisioner
  - ../../bootstrap/base/tpm-device-plugin
  # - ../../bootstrap/base/istio
  # - ../../bootstrap/base/istio-remote-secret-for-a
  # - ../../bootstrap/base/istio-install
  # 
  # - ../../bootstrap/base/piraeus
  - ../../bootstrap/base/tailscale-operator
  - ../../bootstrap/base/openbao
  - ../../bootstrap/base/openbao-auth-config
  - ../../bootstrap/base/openbao-secrets-operator
  - ../../bootstrap/base/cnpg
  - ../../bootstrap/base/garage
  # - ../../bootstrap/mc/garage-mem
  - ../../bootstrap/mc/lpp

  # --- Regular Apps ---
  # - ../../apps/base/gitea
  - ../../apps/base/tailscale-proxy-groups
  - ../../apps/base/temp-egress
  - ../../apps/base/dnsutils
  - ../../apps/base/docker-registry

# 2. Apply ONE common patch to ALL of them.
patches:
  - path: patches/set-destination.yaml
    target:
      group: argoproj.io
      kind: Application

  # Patch 2: Set the SOURCE NAMESPACE for all child apps
  - patch: |-
      - op: add
        path: /metadata/namespace
        value: argocd-mc
    target:
      kind: Application

  - path: patches/patch-lpp-app-for-nvme.yaml
    target:
      kind: Application
      name: local-path-provisioner

  - path: patches/patch-garage-app-for-nvme.yaml
    target:
      kind: Application
      name: garage

  - path: patches/patch-bso-for-cluster-mc.yaml
    target:
      kind: Application
      name: openbao-secrets-operator
  - path: patches/patch-tailscale-proxy-groups-path-mc.yaml
    target:
      kind: Application
      name: tailscale-proxy-groups

  # - path: patches/patch-istiod-app-for-cluster-a.yaml
  #   target:
  #     kind: Application
  #     name: istiod
