apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# 1. "Pick" apps from BOTH catalogs.
resources:
  # --- Bootstrap Apps ---
  - ../../bootstrap/base/local-path-provisioner
  # - ../../bootstrap/base/piraeus
  # - ../../bootstrap/base/olm
  # - ../../bootstrap/base/cnpg
  # - ../../bootstrap/base/openbao
  - ../../bootstrap/base/cert-manager
  # - ../../bootstrap/base/vault-secrets-operator
  # - ../../bootstrap/base/step-ca
  # - ../../bootstrap/base/istio-cluster-b
  # - ../../bootstrap/base/istio-remote-secret-for-b
  # - ../../bootstrap/base/istio-install

# patches:
#   - path: patches/patch-istiod-app-for-cluster-b.yaml
#     target:
#       kind: Application
#       name: istiod

  # - ../../bootstrap/base/medik8s

  # --- Regular Apps ---
  # - ../../apps/base/gitea
  - ../../apps/base/dnsutils

# 2. Apply ONE common patch to ALL of them.
patches:
  - path: patches/set-destination.yaml
    target:
      group: argoproj.io
      kind: Application

  # Patch 2: Set the SOURCE NAMESPACE for all child apps
  - patch: |-
      - op: add
        path: /metadata/namespace
        value: argocd-cc
    target:
      kind: Application

